
.flex-details{
    /*border: 2px solid yellow;*/
    display: grid;
    grid-template-areas:
    "details skills";
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 75%;/*80*/
    min-width: 982px;
}
.titulo-principal{
    position: relative;
    color: rgb(255, 255, 255);
    display: inline-block;
    border-bottom: 5px solid greenyellow;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}

.details{
 grid-area: details;
 text-align: start;
/* width: 100%;
 min-width: 464px;*/
}
.details h1,.details  p{
    color: rgba(255, 255, 255, 0.596);
    word-spacing: 7px;
}
.details h1{
    font-size: 1.5rem;
}
.details p{
    font-size: .9rem;
}
.details strong{
    color: white;
}
.details h1, .details h2, .details p, .details > .info{
    line-height: 2.9;
}
.details-caja{
    padding: 20px;
}
.buttom-cv{
    line-height: 7.7;
}
.details-dynamic{
    animation: details 1.1s ease 0s 1 normal forwards;
}
@keyframes details {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@media (max-width: 982px) {
    .flex-details{
        display: grid;
        grid-template-areas:
        "details"
        "skills";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        min-width: 0;
        
    }
    .details{
        grid-area: details;
        text-align: start;
        width: 100%;
        min-width: 0;
       }
  }
  @media (max-width: 662px) {
    .flex-details{
        display: grid;
        grid-template-areas:
        "details"
        "skills";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        min-width: 0;
        
    }
    .details h1{
        font-size: 1rem;
    }
    .details p{
        font-size: .8rem;
    }
  }