.card{
    margin: 20px;
    width: 300px;
    padding: 50px;
    height: 300px;
    background: rgba(0, 0, 0, 0.171);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(0, 0, 0, 0.27);
}
 .card:hover{
    /*background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
    background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);*/
    background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);

}
.card > .icon,.card > .text-card{
 height: 50%;   
}
.iconos,.text{
    height: 60%;
}
.ver-card,.titulo-card{
    height: 40%;
}
.faImages{
    width: 50px;
    height: 50px;
}
.faImages:hover{
    color: greenyellow;
}

.iconos,.titulo-card,.text,.ver-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
/** */
.text{
    white-space: pre-line;
    word-break: break-word;
    line-height: 1.6;
    font-size: .8rem;
    text-align: justify;
    color: rgba(255, 255, 255, 0.801);
}
.titulo-card{
    font-size: 1.3rem;
    font-weight: 700;
}
.ver-card{
    color: rgba(255, 0, 0, 0.692);
    font-weight: 600;
    font-size: .9rem;
    letter-spacing: 4.3px;
}
@media (max-width: 500px){
    .card{
        margin: 10px;
        width: 250px;
        padding: 50px;
        height: 250px;
        background: rgba(0, 0, 0, 0.171);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.8px);
        -webkit-backdrop-filter: blur(4.8px);
        border: 1px solid rgba(0, 0, 0, 0.27);
    }
}