.footer{
    grid-area: footer;
    background-color: black;
}
.footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.footer > div > p{
    font-size: .8rem;
}