.skills-container{
  width: max-content;/*100*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.skills-container > h1{
  padding: 10px;
  font-size: 1.5rem;/**1rem*/
  color: rgba(255, 255, 255, 0.575);
}
.icon-skills2{
  display: grid;
  grid-template-columns: repeat(3, minmax(120px,160px));/**120px,90px*/
  grid-template-rows: repeat(3,minmax(155px,auto)) ;/**115px,auto*/
  width: max-content;
  gap: 15px;
}
.icon-skills2 > div{
  background: rgba(0, 0, 0, 0.171);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 1px solid rgba(0, 0, 0, 0.27);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconos-skills{
  color: rgba(255, 255, 255, 0.445);
  width: 45px;/**35*/
  height: 45px;
}
.iconos-skills:hover{
  color: greenyellow;
}
@media (max-width: 1385px){
  .icon-skills2{
    display: grid;
    grid-template-columns: repeat(3, minmax(120px,90px));/**120px,90px*/
    grid-template-rows: repeat(3,minmax(115px,auto)) ;/**115px,auto*/
    width: max-content;
    gap: 15px;
  }
}
@media (max-width: 900px){
  .skills-container{
    width: max-content;/*100*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
}
@media (max-width: 454px){
  .icon-skills2{
    display: grid;
    grid-template-columns: repeat(3, minmax(50px,90px));
    grid-template-rows: repeat(3,minmax(90px,auto)) ;
    width: max-content;
    gap: 15px;
    margin-left: 15px;
  }
  .skills-container{
    width: max-content;/*100*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
  }
  .iconos-skills{
    color: rgba(255, 255, 255, 0.445);
    width: 30px;
    height: 30px;
  }
  .skills-container > h1{
    padding: 10px;
    font-size: 1.5rem;/**1rem*/
    color: rgba(255, 255, 255, 0.575);
    margin-left:10px ;
  }
}