/* From uiverse.io by @alexmaracinaru */
.button-about {
    margin: 18px 0px;
    color: black;
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 12px 20px;/**10px 20px*/
    border-radius: 100px;
    background: #cfef00;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 1rem;/**.7rem*/
   }
   
   .button-about:hover {
    background: #a6c900;
   }
   
   .button-about > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
   }
   
   .button-about:hover svg {
    transform: translateX(5px);
   }
   
   .button-about:active {
    transform: scale(0.95);
   }
   
   